page-about {

}
.toolbar-background{
     //background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #00caff,rgba(24, 255, 0, 0.79)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00caff,rgba(24, 255, 0, 0.79)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00caff, rgba(24, 255, 0, 0.79)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00caff, rgba(24, 255, 0, 0.79)) !important; /* Standard syntax (must be last) */

}
.fab-md-light{
    background-color: #00fc11;
}
.button:focus{
    outline:0px !important;
}