<ion-header>
  <ion-navbar>
    <ion-title>Project {{Project.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 

  <h5>{{Project.pname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.pname.value }}
  </ion-card-content>

</ion-card>
  <h5>{{Project.cname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.cname.value }}
  </ion-card-content>

</ion-card>

  <h5>{{Project.oname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.oname.value }}
  </ion-card-content>

</ion-card>

<h5>{{Project.jname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.jname.value }}
  </ion-card-content>

</ion-card>
<h5>{{Project.dname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.dname.value }}
  </ion-card-content>

</ion-card>

<h5>{{Project.tname.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.tname.value }}
  </ion-card-content>

</ion-card>

<h5>{{Project.ename.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.ename.value }}
  </ion-card-content>

</ion-card>


<h5>{{Project.pdesc.title}}</h5>
    <ion-card>
  <ion-card-content>
   <ion-icon style="padding-right:10px" name="cube"></ion-icon>
   {{ Project.pdesc.value }}
  </ion-card-content>
  <ion-card-content *ngFor="let psub of Project.pdesc.subvalue">

    <ion-icon name="md-flower"></ion-icon> {{psub}}
  
  </ion-card-content>

</ion-card>

<h5>{{Project.roles.title}}</h5>
    <ion-card>
  <ion-card-content *ngFor="let p of Project.roles.value">
   <ion-icon style="padding-right:10px" name="ios-leaf"></ion-icon>
   {{ p }}
  </ion-card-content>
</ion-card>
</ion-content>
