// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.img-circle {
    border-radius: 50%;
}

.hide-card {
  -webkit-box-shadow: none!important;
}
.sideProfile.item.item-block.item-md {
    background: transparent;
}

.custom-avatar {
  height: 30vw;
  width: 30vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.sideProfile{
  
     //   height: 200px;
    //background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    //    background: linear-gradient(to bottom right, #0f75da, rgba(34, 189, 40, 0.79));
  //    background: linear-gradient(to bottom right, #6b00ff, rgba(255, 84, 0, 0.79)) !important;
    background:linear-gradient(to bottom right, #00c7ff, rgba(239, 17, 221, 0.79))
    //background: linear-gradient(to bottom right, #00caff, rgba(239, 17, 17, 0.79)); /* Standard syntax (must be last) */
}
  .toolbar-title-md{
    color: white;
  }
  .list-md .item-block .item-inner{
    border-bottom-style: none;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
  }
  h1, h2, h3, h4, h5, h6{
    color:white;
  }
.faGreen{
  color:#28a54c;
}

.faOrange{
  color:#ff6600;
}

.faLightBlue{
  color:#31C0E6;
}
.faDarkGreen{
  color:darkgreen;
}
.faYellow{
  color:#f2c100;
}
.faBlack{
  color: #000;
}
.faWhite{
  color:#fff;
}
.NextMove{
background: linear-gradient(to bottom right, #18e4ec, rgba(255, 0, 57, 0.79)) !important;
}