page-welcome {
 .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
    background:linear-gradient(to bottom right, #00c7ff, rgba(239, 17, 221, 0.79))!important;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
     height: 45vw;
    width: 45vw;
    //border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  b {
    font-weight: 500;
  }
 h2{
     color:white;
 }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 100px;
}
  
    .scroll-content{        
        background:linear-gradient(to bottom right, #00c7ff, rgba(239, 17, 221, 0.79))!important;
    }
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: white;

    b {
      color: #000000;
    }
  }

}
