
  
    
  

<ion-content no-bounce>
   <ion-buttons end *ngIf="showSkip">
      <button ion-button clear (click)="startApp()"  style="color:white">Skip</button>
    </ion-buttons> 
  <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img style="margin-top:20%" [src]="slide.image"  class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img  style="margin-top:30%"  src="./assets/images/Raj.JPG" class="slide-image custom-avatar"  />
      <h2 class="slide-title">Ready to Explore My Profile</h2>
      <button ion-button icon-end large clear (click)="startApp()" style="color:white">
       Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
