<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

<ion-buttons right>
  <button ion-button icon-only (click)="MovetoAbout()">
    <img src="./assets/images/rajUrl.jpg" style="float:right;" class="custom-about-avatar"/>
  </button>
  </ion-buttons>

    <ion-title>Skills
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<h2>Skills I have Worked On</h2>
<ion-card *ngFor="let e of SkillSet">
       <b>{{e.title}}</b>
  <ion-card-content>
    <!-- <ion-card-title>
     Graduation
      </ion-card-title> -->
    <p>
   <i class="fa fa-shield" aria-hidden="true"></i> {{e.skill}} 
    </p>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="showInternetError">
  <ion-card-content>
  <p>Please check your Internet Connection!</p>
</ion-card-content>
</ion-card>
<div text-center *ngIf="btnShowLoaded">
  <button ion-button round  (click)="MovetoNext()" class="NextMove">
    <ion-icon  faWhite name="arrow-forward"></ion-icon>
  </button>
</div>
</ion-content>
